<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            font-size: 25px;
        }
        span{
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            display: block;}

    </style>
</head>
<body>
    <h1>Submitted information:</h1>
    <span>Name:{{name_on_template}}</span>
    <span>location:{{location_on_template}}</span>
    <span>language:{{language_on_template}}</span>
    <span>comment:{{comment_on_template}}</span>
<button>go back</button>
</body>
</html>