<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .success{
            width:40%;
            display: flex;
            flex-direction: column;
        }
        .logout{
            margin: 0 30%;
        }
    </style>
</head>
<body>
    <div class="logout">
        <a href="/">Logout</a>
    </div>
    
    <div class="success">
        <h3>Success! Welcome</h3>
        <h4>You successfully logged in!</h2>
    </div>

    



</body>
</html>